@charset "UTF-8";

/*
Paleta de cores:
Verde -> #49a09d
Roxo -> #5f2c82
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

section {
    position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.329);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#imagem {
    background: black url('../imagens/metal.jpg') no-repeat left bottom;
    background-size: cover;
    width: 100%;
    height: 200px;
}

div#formulario {
    padding: 0px 10px;
}

div#formulario > h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.caixa {
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #5f2c82;
    margin: 5px 0px;
}

div.caixa > input {
    background-color: #8cc0bd;
    font-size: 1em;
    width: calc(100% - 47px);
    height: 36px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    transform: translateY(-10px);
}

div.caixa > span {
    color: white;
    font-size: 1.9em;
    padding: 6px 4px 0px 6px;
}

div.caixa > input:hover {
    background-color: white;
}

div.caixa > label {
    display: none;
}

form > input[type="submit"] {
    background-color: #49a09d;
    color: white;
    font-size: 1em;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 7px;
    border: none;
}

form > input[type="submit"]:hover {
    background-color: #347270;
}

form > a {
    background-color: white;
    color: #33706d;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #49a09d;
}

form > a:hover {
    background-color: #69e7e1;
}

form > a > .material-icons {
    font-size: 0.8em;
}