@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

:root {
    --cor1: #99B6F7;
    --cor2: #4E83F5;
    --cor3: #3E68C2;
    --cor4: #263F75;
    --cor5: #495775;
}

body, html {
    background-color: var(--cor1);
}

header {
    background-color: var(--cor3);
}

header h1 {
    color: rgba(255, 255, 255, 0.877);
    text-shadow: 1px 1px black;
    text-align: center;
    padding: 10px;
}

.material-icons {
    background-color: var(--cor5);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.material-icons:hover {
    background-color: var(--cor4);
    transition: 0.5s;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu a {
    background-color: var(--cor5);
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

menu a:hover {
    background-color: var(--cor4);
    transition: 0.5s;
    font-weight: bold;
}

main {
    background-color: white;
    max-width: 90vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

article h2 {
    padding: 10px 0px 20px 0px;
}

article p {
    text-align: justify;
    text-indent: 20px;
    padding-bottom: 10px;
}